.app, .container{
  text-align: center;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  top: 0;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 30%;
  height: 70%;
  min-width: 300px;
  max-width: 400px;
  max-height: 900px;
}